.imgItem{
	width:100px;
	height:110px;
	float:left;
	position: relative;
	overflow:hidden;
	margin:0 10px 10px 0;
}
.imgItem:hover .imgDelete{
	display:block;
}
.imgItem .upload_img{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.imgItem .img_sts_icon,.imgItem .img_delete_icon{
	font-size:19px;
	color:white;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.imgItem .img_sts_bg{
	position: absolute;
	width:60px;
	height:60px;
	transform: rotate(45deg);
	right: -30px;
	bottom: -30px;
	background-color:#009e91;
}
.imgItem .imgDelete{
	width: 100%;
	height: 20px;
	background-color: rgba(1,1,1,0.5);
	position: absolute;
	left: 0;
	top: 0;
	display:none;
}
.imgItem .imgDelete .img_delete_icon{
	top: 0;
	font-size:16px;
}
